{% extends "base.html.twig" %}
{% block title %}Admin - View Students{% endblock %}
{% block body %}
	<div class="main-content">
		<!--left-fixed -navigation-->
		<div class=" sidebar" role="navigation">
            <div class="navbar-collapse">
				<nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu-s1">
                    <ul class="nav" id="side-menu">
                        <li>
                            <a href="{{ path('admin_dashboard') }}"><i class="fa fa-dashboard nav_icon"></i>Dashboard</a>
                        </li>
                        <li>
                            <a href="{{ path('admin_view_topics') }}"><i class="fa fa-bookmark nav_icon"></i>View Topics</a>
                            <!-- /nav-second-level -->
                        </li>
                        <li>
                            <a href="{{ path('admin_view_students') }}" class="active"><i class="fa fa-users nav_icon"></i>View Students</a>
                            <!-- /nav-second-level -->
                        </li>
                        <li>
                            <a href="{{ path('admin_view_supervisors') }}"><i class="fa fa-user nav_icon"></i>View Supervisors</a>
                        </li>
                        <li>
                            <a href="{{ path('logout') }}" style="color: red;"><i class="fa fa-sign-out nav_icon"></i>Logout</a>
                        </li>
                    </ul>
					<!-- //sidebar-collapse -->
				</nav>
			</div>
		</div>
		<!--left-fixed -navigation-->
		<!-- header-starts -->
		<div class="sticky-header header-section ">
			<div class="header-left">
				<!--toggle button start-->
				<button id="showLeftPush"><i class="fa fa-bars"></i></button>
				<!--toggle button end-->
				<!--logo -->
				<div class="logo">
                    <a href="{{ path('admin_dashboard') }}">
                        <h1>UNDERGRADUATE PROJECT </h1>
                        <span>TOPICS ALLOCATION SYSTEM</span>
                    </a>
				</div>
				<!--//logo-->
				<div class="clearfix"> </div>
			</div>
			<div class="header-right">
			<!--notification menu end -->
				<div class="profile_details">		
					<ul>
						<li class="dropdown profile_details_drop">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
								<div class="profile_img">	
									<span class="prfil-img"><img src="{{ asset('img/favicon/apple-icon-60x60.png') }}" alt="logo"> </span>
							
								</div>	
							</a>
						</li>
					</ul>
				</div>
				<div class="clearfix"> </div>				
			</div>
			<div class="clearfix"> </div>	
		</div>
		<!-- //header-ends -->
		<!-- main content start-->
        <style>
            .form-body .table ul li, .title1 .form-grids .form-title h5{
                font-size: small;
                color: red;
            }
        </style>
		<div id="page-wrapper">
			<div class="main-page">
			<h3 class="title1" style="color: #F2B33F;">View Students</h3>
					<div class="form-grids row widget-shadow" data-example-id="basic-forms"> 
						<div class="form-title">
							<h4>List of registered students</h4>

						</div>
						<div class="form-body">
                                <table class="table table-responsive table-striped table-hover">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Matric Number</th>
                                            <th>First Name</th>
                                            <th>Last Name</th>
                                            <th>Email</th>
                                            <th>Research Interest</th>
                                            <th>Registered</th>
                                        </tr>
                                    </thead>
                                    {% set i = 0 %}
                                    {% for student in students %}
                                        <tbody>
                                            <tr>
                                                <td>
                                                    {% set i = i+1 %}
                                                    {{ i }}
                                                </td>
                                                <td>
                                                    {{ student.matricNo }}
                                                </td>
                                                <td>
                                                    {{ student.firstName }}
                                                </td>
                                                <td>
                                                    {{ student.lastName}}
                                                </td>
                                                <td>
                                                    {{ student.email }}
                                                </td>
                                                <td>
                                                    {{ student.researchInterest }}
                                                </td>
                                                <td>
                                                    {{ student.registered.format("d-M-Y") }}
                                                </td>
                                            </tr>
                                        </tbody>
                                    {% endfor %}
                                </table>
						</div>
					</div>
			
			
				<div class="clearfix"> </div>
			</div>
		</div>
		<!--footer-->
		<div class="footer">
		   <p>&copy; 2018 | CSC Dept. AAUA. </p>
		</div>
        <!--//footer-->
	</div>
    {% endblock %}

    {% block javascripts %}
        <!-- Classie -->
        <script src="{{ asset('control_panel/js/classie.js') }}"></script>
        <script>
            let update = document.getElementById('update');
            update.onclick = function(){
                document.getElementById('student_registration_matric_no').disabled = false;
            }
            var menuLeft = document.getElementById( 'cbp-spmenu-s1' ),
                showLeftPush = document.getElementById( 'showLeftPush' ),
                body = document.body;

            showLeftPush.onclick = function() {
                classie.toggle( this, 'active' );
                classie.toggle( body, 'cbp-spmenu-push-toright' );
                classie.toggle( menuLeft, 'cbp-spmenu-open' );
                disableOther( 'showLeftPush' );
            };


            function disableOther( button ) {
                if( button !== 'showLeftPush' ) {
                    classie.toggle( showLeftPush, 'disabled' );
                }
            }
        </script>
        <!--scrolling js-->
        <script src="{{ asset('control_panel/js/jquery.nicescroll.js') }}"></script>
        <script src="{{ asset('control_panel/js/scripts.js') }}"></script>
        <!--//scrolling js-->
        <!-- Bootstrap Core JavaScript -->
        <script src="{{ asset('control_panel/js/bootstrap.js') }}"> </script>
    {% endblock %}
